<?xml version="1.0" encoding="utf-8"?>

<manifest
    package="net.maxbraun.mirror"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature
      android:name="android.software.leanback"
      android:required="true"/>
  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false"/>

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <application
      android:allowBackup="true"
      android:icon="@drawable/home"
      android:label="@string/app_name"
      android:supportsRtl="false"
      android:theme="@style/AppTheme">

    <activity
        android:name=".HomeActivity"
        android:clearTaskOnLaunch="true"
        android:icon="@drawable/home"
        android:label="@string/home_name"
        android:launchMode="singleTask"
        android:screenOrientation="landscape"
        android:stateNotNeeded="true"
        android:theme="@style/AppTheme">
      <intent-filter android:priority="11">
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".CompactHomeActivity"
        android:clearTaskOnLaunch="true"
        android:icon="@drawable/home"
        android:label="@string/home_name_compact"
        android:launchMode="singleTask"
        android:screenOrientation="landscape"
        android:stateNotNeeded="true"
        android:theme="@style/AppTheme">
      <intent-filter android:priority="11">
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <receiver android:name=".BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

  </application>
</manifest>
